*{
  margin: 0;
  padding: 0;
  box-sizing:border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1B2531;
  color: #FBFFFF; 
}